<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  {% block stylesheets %}
    <link href="{{ asset('bundles/main/css/bootstrap.css') }}" rel="stylesheet" />
  {% endblock %}


</head>
<body>

  <h1>Coucou</h1>



  {% block body %}  {% endblock %}

  {% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ asset('bundles/main/js/bootstrap.js') }}"></script>
  {% endblock %}

</body>
</html>
